<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
</div>

<!-- <ul>
    <li *ngFor="let data of stuData">{{data.fname}}</li>
  </ul> -->
  
  <button (click)="sendData()" class="btn btn-success mt-2 mb-2">Pass Data</button>
  
  
  <app-child [stuInfo]="stuList" (clickStudent)="eventHandler($event)"></app-child>
  <div>
    <p>Users Clicked In Child Component</p>
    <ul>
      <li *ngFor="let data of getChildUsers; let i=index">{{data[i].fname}} {{data[i].lname}}</li>
    </ul>
  </div>

  <app-child1  (countChange)="countHandle($event)"></app-child1>